{% extends 'base.html' %}
{% block content %}

    <h2>Title: {{ movie.title }} </h2>
    <ul>
        <li>
          <a href="{{ movie.imdb_url }}">(IMDB)</a>      
        </li>
        <li>
          Released: {{ movie.released_at }}   
        </li>
     
        <li>Ratings: 
         
              <table class="rating_list">
              {% for rating in movie.ratings %}
                <tr>
                   <td>{{ rating.score }}</td>
                </tr>
          
              {% endfor %}
              </table>
            
        </li>
        
    </ul>

{% endblock %}
