{% extends 'base.html' %}
{% block content %}

    <h2>User</h2>
    <ul>
        <li>
          Age: {{ user.age }}  
        </li>
        <li>
          Zipcode: {{ user.zipcode }}
        </li>
        <li>Ratings: 
         
              <table class="movie_list">
                {% for rating in user.ratings %}
                <tr>
                  <td>{{ rating.movie.title }}</td>
                  <td>{{ rating.score }}</td>
              
              </tr>
              {% endfor %}
              </table>
            
        </li>
        
    </ul>

{% endblock %}
